.contact-form {
    width: 90%;

    ul {
        padding: 0;
        
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;
    
            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    input[type='text'],
    input[type='email'], textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    textarea {
        padding: 20px;
        min-height: 150px;
    }

    .btn {
        color: #81F0E5;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #81F0E5;
        border-radius: 4px;
        background: 0 0;
        text-transform: uppercase;
        float: right;
        text-align: center;
        cursor: pointer;

        &:hover{
            background: #81F0E5;
            color: #022c43;
            font-weight: 700;
        }
    }
    
}
.mail a{
    color: #81F0E5;
    font-size: 20px;
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .contact-form {
        width: 85%;
        input[type='text'],
        input[type='email'], textarea {
            font-size: 14px;
        }
        textarea {
            padding: 20px;
            min-height: 150px;
        }
        .btn {
            font-size: 12px;
        }
    }
    .mail a{
        font-size: 18px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .contact-form {
        width: 100%;
        min-width: 70%;
        input[type='text'],
        input[type='email'], textarea {
            font-size: 12px;
        }
        textarea {
            padding: 20px;
            min-height: 170px;
        }
        .btn {
            font-size: 10px;
        }
    }
    .mail a{
        font-size: 16px;
    }
    
} 

@media only screen and (max-width: 375px){
    .contact-form {
        width: 100%;
        input[type='text'],
        input[type='email'], textarea {
            font-size: 10px;
        }
        textarea {
            padding: 20px;
            min-height: 170px;
        }
        .btn {
            font-size: 10px;
        }
    }
    .mail a{
        font-size: 14px;
    }
}