
.home-page{

    .text-zone{
        h1{

            img{
                width: 40px;
                margin-left: 20px;
                margin-bottom: -12px;
                opacity: 0;
                height: auto;
                animation: rotateIn 0.5s linear both;
                animation-delay: 0.3s;
            }
        }

        h2{
            color:#8d8d8d;
            margin-top: 30px;
            font-weight: 400;
            font-size: 14px;
            font-family: sans-serif;
            letter-spacing: 3px;
            text-align: justify;
            animation: fadeIn 1s 1.8s backwards;
        }

        .btn{
            color: #81F0E5;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 10px;
            border: 1px solid #81F0E5;
            margin: 25px 15px 0 0;
            float: left;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;

            &:hover{
                background: #81F0E5;
                color: #022c43;
                font-weight: 700;
            }
        }
    }
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px  #81F0E5;
    border-radius: 50% ;
    height: 380px;
    width: 380px;
    margin: auto;
}
.profile-picture-background{
    height: 90%;
    width: 90%;
    background-image: url('../../assets/images/christelle.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
}
.profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}



@media screen and (min-width : 993px) and (max-width: 1220px){
    .home-page{
        .text-zone{
            left: 3rem;
        }
        h1{
            font-size: 40px;
        }
    }
    .profile-picture{
        right: 5rem;
        height: 300px;
        width: 300px;
    }
   
} 


@media screen and (min-width: 769px) and (max-width: 992px){
    .home-page{
        .text-zone{
            left: 3rem;
        }
        h1{
            font-size: 30px;
        }
    }
    .profile-picture{
        right: 5rem;
        height: 260px;
        width: 260px;
    }
} 

@media screen and (min-width: 376px) and (max-width: 768px){
    .home-page{
        .text-zone{
            left: 3rem;
            .btn{
                width: 80%;
            }
        }
        h1{
            font-size: 28px;
        }
    }
    .profile-picture{
        right: 5rem;
        height: 200px;
        width: 200px;
    }
} 

@media only screen and (max-width: 375px){
    .home-page{
        .text-zone{
            .btn{
                width: 100%;
            }
        }
        h1{
            font-size: 20px;
        }
    }
    .profile-picture{
        height: 160px;
        width: 160px;
    }
}