.portfolio-page{
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100vh;
    overflow: auto;

    h1.portfolio-title{
        margin-top: -220px;
        margin-left: 100px;
    }
}